@{
    ViewBag.Title = "About";
}

<article style="padding: 24px; font-size: large">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>@ViewBag.Message</h2>
    </hgroup>

    This page was made possibble with the help and sponsoring of the following:
    <ul>
        <li><a onclick='window.location.href="https://www.google.com/search?q="+this.innerHTML'>Monster Energy drink</a></li>
        <li><a onclick='window.location.href="https://www.google.com/search?q="+this.innerHTML'>Tina bakery</a></li>
        <li><a onclick='window.location.href="https://www.google.com/search?q="+this.innerHTML'>My chair</a></li>
        <li><a onclick='window.location.href="https://www.google.com/search?q="+this.innerHTML'>Our laptops</a></li>
        <li><a onclick='window.location.href="https://www.google.com/search?q="+this.innerHTML'>Our everlasting skin on our fingers</a></li>
        <li><a onclick='window.location.href="https://www.google.com/search?q="+this.innerHTML'>Github</a></li>
        <li><a onclick='window.location.href="https://www.google.com/search?q="+this.innerHTML'>Angular JS</a></li>
        <li><a onclick='window.location.href="https://www.google.com/search?q="+this.innerHTML'>Stackoverflow</a></li>
        <li><a onclick='window.location.href="https://www.google.com/search?q="+this.innerHTML'>Microsoft</a></li>
    </ul>
</article>
