@{
    ViewBag.Title = "Home Page";
}
<aside class="leftActionBarAcceptor">
    <div ng-controller="ActionBarController"></div>
</aside>
<section class="browserView" ng-controller="BrowserController">
    <div id="itemsContainer" class="browserframe">
        <div class="folderDiv" ng-repeat="folder in folders">
            <folder ng-click="select(folder)" ng-class="{selected: folder.selected}"
                foldername="{{folder.fileName}}" 
                folderpath="{{folder.filePath}}" ></folder>
        </div>
        <div class="fileDiv" ng-repeat="file in files">
            <file ng-click="select(file)" ng-class="{selected: file.selected}" 
                filename="{{file.fileName}}" 
                filepath="{{file.filePath}}"
                lastmodified="{{file.lastModified}}"></file>
        </div>

    </div>
</section>
<aside class="propsView">
    <div ng-controller="PropertiesController">
        <h2>{{targetName}}</h2>
        <div ng-repeat="property in properties">
            <span class="propName">{{property.propName}}</span><span class="propValue">{{property.propValue}}</span>
        </div>
    </div>
</aside>
