<!-- The used templates -->
<script type="text/ng-template" id="folderTemplate">
    <div class='folder' title='{{folderpath + foldername}}'>[{{foldername}}]</div>
</script>
<script type="text/ng-template" id="fileTemplate">
    <div class='file' title='{{filepath + filename}}' ng-class="{locked: (locked=='LOCKED'), undercontrol: (locked=='UNDERCONTROL')}" >{{filename}}</div>
</script>
<script type="text/ng-template" id="projectTemplate">
    <div alt='Owner: {{ownername}}' class='project'>*{{projectname}}*</div>
</script>
<script type="text/ng-template" id="propertyTemplate">
    <div class='property'>
        <div class='propname' style='font-weight:bold'>{{property.propName}} : {{property.propValue}}</div>
        <label class='edit'>Property name:</label>
        <input class='edit propname' ng-model='property.propName'/>
        <label class='edit'>Property value:</label>
        <input class='edit propvalue' ng-model='property.propValue' />
    </div>
</script>


<aside class="leftActionBarAcceptor" ng-controller="ActionBarController">
    <div ng-repeat="action in actions"
        title="{{action.name}}"
        class="actionButton glyphicons {{action.type}}"
        ng-click="action.execute()">
    </div>
</aside>
<section class="browserView" ng-controller="BrowserController" ng-click="clearSelections()">
    <div id="itemsContainer" class="browserframe">
        <div class="fileDiv" ng-repeat="file in files">
            <project ng-if="file.isProject"
                ng-click="select(file); $event.stopPropagation()"
                ng-class="{selected: file.selected}"
                ownername="{{file.ownerName}}"
                projectname="{{file.projectName}}"></project>
            <folder ng-if="!file.isRealFile && !file.isProject"
                ng-click="select(file); $event.stopPropagation()"
                ng-class="{selected: file.selected}"
                foldername="{{file.fileName}}"
                folderpath="{{file.filePath}}"></folder>
            <file ng-if="file.isRealFile"
                ng-click="select(file); $event.stopPropagation()"
                ng-class="{selected: file.selected}"
                filename="{{file.fileName}}"
                filepath="{{file.filePath}}"
                lastmodified="{{file.lastModified}}"
                locked="{{file.lockStatus}}"></file>
        </div>
    </div>
</section>
<aside class="propsView" ng-controller="PropertiesController">
    <div ng-if="global.selectedFile">
        <label>Name of the {{global.selectedFile.fileName?global.selectedFile.isRealFile?"file":"folder":"project"}}:</label>
        <h2>{{global.selectedFile.fileName || global.selectedFile.projectName}}</h2>
        <label>Created on:</label><span> {{global.selectedFile.creationDate.toDateString()}}, {{global.selectedFile.creationDate.toLocaleTimeString()}}</span>
        <propertyfield ng-repeat="property in global.selectedFile.properties" property="property"></propertyfield>
        <button class="edit" ng-click="addNewProperty()">New Property</button>
        <button id="saveChangesButton" class="edit" ng-click="save()">Save changes</button>
        <button id="discardChangesButton" class="edit" ng-click="discard()">Discard changes</button>
    </div>
    <div class="browseHelp" ng-if="!global.selectedFile">
        Select a file on the left.
    </div>
</aside>

<div id="folderDialog" style="display: none" title="New folder...">
    <div>Name of the folder:</div>
    <input id="folderNameBox" type="text" class="folderInputBox" />
</div>

<div id="projectDialog" style="display: none" title="New project...">
    <div>Name of the project:</div>
    <input id="projectNameBox" type="text" />
</div>

<div id="revertDialog" style="display: none" ng-controller="RevertController" title="Revert file...">
    <div>Select a version:</div>
    <select style="width:100%" ng-model="selectedVersion" ng-options="'version '+v.versionNumber group by v.date for v in versions"></select>
    <input id="versionNumber" type="hidden" value="{{selectedVersion.versionNumber}}" />
</div>

<div id="fileUploadDialog" style="display: none" title="Pick a file...">
    <form method="post" enctype="multipart/form-data">
        <label for="file">Upload:</label>
        <input type="file" name="file" id="file"><br>
    </form>
    <progress></progress>
</div>
