@{
    ViewBag.Title = "Home Page";
}
<aside class="leftActionBarAcceptor" ng-controller="ActionBarController">
    <div ng-repeat="action in actions"
        title="{{action.name}}"
        class="actionButton glyphicons {{action.type}}"
        ng-click="action.execute()">
    </div>
</aside>
<section class="browserView" ng-controller="BrowserController" ng-click="clearSelections()">
    <div id="itemsContainer" class="browserframe">
        <div class="fileDiv" ng-repeat="file in files">
            <project ng-if="file.isProject"
                ng-click="select(file); $event.stopPropagation()"
                ng-class="{selected: file.selected}"
                ownername="{{file.ownerName}}"
                projectname="{{file.projectName}}"></project>
            <folder ng-if="!file.isRealFile && !file.isProject"
                ng-click="select(file); $event.stopPropagation()"
                ng-class="{selected: file.selected}"
                foldername="{{file.fileName}}"
                folderpath="{{file.filePath}}"></folder>
            <file ng-if="file.isRealFile"
                ng-click="select(file); $event.stopPropagation()"
                ng-class="{selected: file.selected}"
                filename="{{file.fileName}}"
                filepath="{{file.filePath}}"
                lastmodified="{{file.lastModified}}"></file>
        </div>
    </div>
</section>
<aside class="propsView" ng-controller="PropertiesController">
    <div ng-if="global.selectedFile">
        <label>Name of the {{global.selectedFile.fileName?global.selectedFile.isRealFile?"file":"folder":"project"}}:</label>
        <h2>{{global.selectedFile.fileName || global.selectedFile.projectName}}</h2>
        <propertyfield ng-repeat="property in global.selectedFile.properties" property="property"></propertyfield>
        <button class="edit" ng-click="addNewProperty()">New Property</button>
        <button id="saveChangesButton" class="edit">Save changes</button>
        <button id="discardChangesButton" class="edit">Discard changes</button>
    </div>
    <div class="browseHelp" ng-if="!global.selectedFile">
        Select a file on the left.
    </div>
</aside>

<div id="folderDialog" style="display: none" title="New folder...">
    <div>Name of the folder:</div>
    <input id="folderNameBox" type="text" class="folderInputBox" />
</div>

<div id="projectDialog" style="display: none" title="New project...">
    <div>Name of the project:</div>
    <input id="projectNameBox" type="text" />
</div>

<div id="fileUploadDialog" style="display: none" title="Pick a file...">
    <form method="post" enctype="multipart/form-data">
        <label for="file">Upload:</label>
        <input type="file" name="file" id="file"><br>
    </form>
    <progress></progress>
</div>
