@if (Request.IsAuthenticated) {
    <text>
        @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a title="Log out" class="glyphicons log_out" href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
        }
    </text>
} else {
        <span title="Register" class="glyphicons keys">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</span>
        <span title="Log in" class="glyphicons log_in">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</span>
}

<span class="clear-fix"></span>
