
html {
    margin: 0;
    padding: 0;
}

body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

header, footer, hgroup,
nav, section {
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


header{
}

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 20px;
    overflow: hidden;
}

nav{
	background: yellow;
    overflow: hidden;
}
section{
	background: aqua;
}
aside{
	background: aquamarine;
}

.topNavBar{
	height:30px;
	width: 100%;
}

.content{
	overflow: hidden;
	width: 90%;
	margin: auto;
}

.leftActionBarAcceptor{
	position: absolute;
	left:0;
	top: 45px;
	width: 5%;
    display: none;
}

.browserView{
	float:left;
	width: 59%;
	border-right: double yellow;
}

.propsView{
	float: left;
	width: 40%;
}

.wellPadded{
    margin: 8px 30px;
}

#loginBox{
    float:right;
}

#homeLink {
    float:left;
}